{# @var  #}
<div class="safety_settings__section_new monitoring-settings__section">
    <div class="safety_settings__section_head_new_title">Создать новую формулу</div>
    <table class="content__account__settings">
        <tbody>
            <tr>
                <td style="width: 15%;">
                    {% include 'templates/select.twig' with {fieldsNames, id:'addNewField', selected: fieldsNames[0]}%}
                </td>
                <td style="width: 14px;"></td>
                <td>
                    <button class="button-input" id="buttonAddFieldToFormula">
                        <span class="button-input-inner__text">Добавить в формулу</span>
                    </button>
                </td>
            </tr>
            <tr>
                <td id="selectField">
                    {% include 'templates/select.twig' with {fieldsNames, id:'mainFormulaField', selected: fieldsNames[0]}%}
                </td>
                <td style="width: 14px; text-align: center; vertical-align: middle;">=</td>
                <td style="width: 100%;">
                    <div class="control--select" style="">
                        <input class="text-input" id="formulaField" style="width: 100%"/>
                        <ul class="custom-scroll control--select--list" style="width: auto;margin-top: 35px;margin-left: 15px;">
                            {% for key in fieldsNames %}
                                <li data-value="{{ key['id'] }}" class="control--select--list--item
                                {% if key['id'] == 'lead_card_budget' %} control--select--list--item-key_selected{% endif %}">
                                    <span class="control--select--list--item-inner" title="{{ key['option'] }}">
                                        {{ key['option'] }}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
            <tr style="display: none">
                <td></td>
                <td></td>
                <td class="errorText" style="color: red;">Ошибка</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <button class="button-input button-input_blue" id="buttonSaveFormula">
                        <span class="button-input-inner__text">Создать формулу</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
