{# @var  #}
<div class="safety_settings__section_head_new_title">Создание формулы</div>

<table class="content__account__settings">
    <tbody>
        <tr>
            <td style="width: 15%;"> {% include 'templates/select.twig' with {items:fieldsNames, id:'addField'}%}</td>
            <td>{% include 'templates/button.twig' with {id:'buttonAddField'}%}</td>
        </tr>
        <tr>
            <td id="selectField">{% include 'templates/select.twig' with {items:fieldsNames, id:'mainField'}%}</td>
            <td> {% include 'templates/input.twig' with {id:'formulField'}%}</td>
        </tr>
        <tr>
            <td></td>
            <td id="saveButton " style="text-align: right;">{% include 'templates/button.twig' with {id:'buttonSaveFormul'}%}</td>
        </tr>
    </tbody>
    </table>