{# @var  #}
<div class="modal modal-list">
    <div class="modal-scroller custom-scroll">
        <div class="modal-body modal-body-centrified" style="display: block; width: 561.6px; margin-top: -276.5px; margin-left: -281px;"><div class="modal-body__inner modal-body__inner-error js-modal-error">
                <span class="modal-body__close">
                    <span class="icon icon-modal-close"></span>
                </span>
                <h2 class="modal-body__caption head_2 modal-body__caption-error">
                    {{ textError }}
                </h2>
            </div>
        </div>
    </div>
    <div class="default-overlay modal-overlay  modal-overlay_white  default-overlay-visible">
        <span class="modal-overlay__spinner spinner-icon spinner-icon-abs-center" style="display: none;"></span>
    </div>
</div>